/*{margin: 0; padding: 0}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
 
  font-family: 'Roboto', sans-serif;
  align-items: center;
  background-image: cover;
}

.text1{
  position: fixed;
  font-family: cursive;
  top: 20px;
  font-weight: bolder;
}

.yes{
  background-color: #fff2c4;
  width:100px;
  height: 70px;
  border: -260px;
  margin: 35px;
  border-radius: 45px;
  box-shadow: 39px;
  position: fixed;
  top: 100px;
}
#image{
   filter: blur(10px);
  background-image: url(page1.jpg);
  height: 650px;
  width: fill;
}

.no{
  background-color: #fff2c4;
  width:100px;
  height: 70px;
  border: -260px;
  margin: 35px;
  border-radius: 45px;
  box-shadow: 39px;
  position: fixed;
  top: 100px;
  left: 150px;
}

p{
  position: fixed;
  top: 180px;
}